<form method="POST">
  <% if(varTPL.settings.title == 1) { %> 
    <dev class="group-v">
      <label>Платформа</label>
      <input type="text"  class="input-field" value="<%= varTPL.platfomTitle %>" readonly>
    </dev>   
  <% } %>

  <% if(varTPL.settings.address == 1) { %> 
    <dev class="group-v">
      <label>Адрес перечисления</label>
      <input type="text"  class="input-field" value="<%= varTPL.walletAddress %>" readonly>
    </dev>   
  <% } %>

  <% if(varTPL.settings.discription == 1) { %> 
    <dev class="group-v">
      <label>Описание</label>
      <textarea readonly><%= varTPL.paymentsDiscription %></textarea>
    </dev>   
  <% } %>

  <% if(varTPL.settings.typePayment == 'fix') { %> 

    <dev class="group-v">
      <label>Сумма</label>
      <input name="total" type="text"  class="input-field" value="<%= varTPL.values %>" readonly>
    </dev>   

  <% } else if(varTPL.settings.typePayment == 'options') {%>

    <dev class="group-v">
      <label>Сумма</label>

      <% for (let i in varTPL.values) { %>
        <span>
          <input name="total" type="radio"  class="input-field" value="<%= varTPL.values[i] %>" 
          <% if (i == 0) {%>
            checked
          <% } %> >
          <%= varTPL.values[i] %>
        </span>
      <% } %>
      
    </dev>  

  <% } else {%>

    <dev class="group-v">
      <label>Сумма</label>
      <input name="total" type="text"  class="input-field">
    </dev>

  <% } %>

    <dev class="group-v">
      <label for="private-key">Закрытый ключ кошелька</label>
      <input type="text" name="private_key"  class="input-field" id="private-key">
    </dev>

    <dev class="group-v">
      <input type="submit" class="btn btn-dark" value="Перевести">
    </dev>
</form>
  