<% if (varTPL.errors.error == true) {%>
  <div class="block errors-block">
    <ul class="list-errors" id="#errors">
      <% for (let i in varTPL.errors.messages) { %>
        <li><%- varTPL.errors.messages[i] %></li>
      <% } %>
    </ul>
  </div>
<% } %>