<div class="grout-v pr-sidebar">
  <div class="side-block">
    <div class="caption-profile">
      <span><%= varTPL.username%>
       <% if (varTPL.premium) { %>
          <img src="<%= varTPL.server + '/imgs/premium.png' %>">
       <% }%>
      </span>
    </div>
    <ul>
      <% if (varTPL.premium) { %>
        <a href="<%= varTPL.server + '/buypremium'%>"><li>Продлить премиум</li></a>
      <% } else {%>
        <a href="<%= varTPL.server + '/buypremium'%>"><li class="a-premium">Купить премиум</li></a>
      <% } %>
      <a href="<%= varTPL.server + '/createWallet'%>"><li>Создать кошелек</li></a>
      <a href="#"><li>Изменить пароль</li></a>
      <a href="#"><li>Изменить почту</li></a>
      <a href="<%= varTPL.server + '/account/singOut'%>"  ><li>Выход</li></a>
    </ul>
  </div>

  <div class="sep"></div>

  <div class="side-block">
    <div class="caption">
        <span>Платформы</span>
    </div>
      
    <%- include ./listOfPlatforms %>
      
    <a href= "<%= varTPL.server + '/addplatform'%>">
        <div class="add">
            <span>+ Добавить платформу</span>
        </div>
    </a>
      
  </div>

  <div class="sep"></div>
      
  <div class="side-block">
    <div class="caption">
      <span>Помощь</span>
    </div>
    <ul>
      <li>FAQ</li>
      <li>Задать вопрос</li>
    </ul>
  </div>
      
</div>