<!DOCTYPE html>
<html lang=<%= varTPL.lang %> >
  <%- include ./head %>
<body>
  <%- include ./header %>
    
  <div class="content">
    <% if (varTPL.isAuthorized == true && varTPL.page != "pay") { %>
      <div class="group-h profile-page">

        <%- include ./elements/sideBar %>

        <div class="profile-content">
          <div class="block">

            <% if (varTPL.page == "feed"){ %>

              <%- include ./pages/feed %>

            <% } else if (varTPL.page == "addPlatform"){ %>

              <%- include ./pages/platform/add %>

            <% } else if (varTPL.page == "platform"){ %>

              <%- include ./pages/platform/platform %>

            <% } else if (varTPL.page == "setWalletOnPlatform"){ %>

              <%- include ./pages/platform/setWallet %>
            
            <% } else if (varTPL.page == "newStaticIntegration"){ %>

              <%- include ./pages/platform/newStaticIntegration %>
            
            <% } else if (varTPL.page == "staticIntegration"){ %>

              <%- include ./pages/platform/staticIntegration %>
            
            <% } else if (varTPL.page == "buyPremium"){ %>
            
              <%- include ./pages/pay/buyPremium %>

            <% } else if (varTPL.page == "createWallet") { %>

              <%- include ./pages/wallet/create %>

            <% } %>

          </div>
        </div>
      </div>

    <% } else {%>
      <% if (varTPL.page == "welcome") { %>
        <%- include ./pages/welcome %>
      <% } else if (varTPL.page == "message") { %>
        <%- include ./pages/message %>
      <% } else if (varTPL.page == "pay") { %>
        <%- include ./pages/pay/pay %>
      <% } else if (varTPL.page == "account") { %>
        <%- include ./pages/account/index %>
      <% } %>

    <% } %>
  
  </div>

  <%- include ./footer %>

</body>
</html>