<header class="top">
    <a href="<%= varTPL.server + "/" %>" class="logo">
        <img src="<%= varTPL.server + "/imgs/eth-s.png" %>">
        <p class="logo-title">EPay</p>
    </a>
    <div class="content-top">
        <% if ( varTPL.isAuthorized == false) { %>
            <a href="<%= varTPL.server + "/account/singIn"%>" ><button class="btn btn-light btn-auth">Войти</button></a> 
        <% } %>
    </div>
</header>