<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="<%= varTPL.server + "/css/epay_style.css" %>" rel="stylesheet">
    <link href="<%= varTPL.server + "/css/epay.css"%>" rel="stylesheet">
    <script src="<%= varTPL.server + "/js/bundle.js"%>" ></script>
    <title><%= varTPL.titlePage %></title>
</head>