<!DOCTYPE html>
<html lang=<%= varTPL.lang %> >
<%- include ./head %>
<body>
 
  <div class="block framePay">
    <div class="header">
      <a href="<%= varTPL.server + "/" %>" target="_blank" class="logo">
        <img src="<%= varTPL.server + "/imgs/eth-s.png" %>">
        <p class="logo-title">EPay</p>
      </a>
    </div>
    <% if(varTPL.settings.title == 'completed') { %>
      <div class="notification noti-info">
        <span>Оплата произведена. Транзакция подтвердится черезе некоторое время!</span>
      </div>
    <% } else { %> 
      <div class="frame">
        <% if(varTPL.settings.title == 1) { %> 
          <div class="title">
            <span><%= varTPL.paymentsTitle %></span>
          </div>
        <% } %>

        <%- include ./elements/formOfPayment %>
        <%- include ./elements/listOfErrors %>

      </div>
    <% } %>

  </div>
 
</body>
</html>