<span class="profile-title">Транзакции</span>


<table class="transactions">
  <tr >
    <td class="title first-tr">Хеш трензакции</td>
    <td class="title">Платформа</td>
    <td class="title">Операция</td>
    <td class="title">Статус</td>
  </tr>
  <% for (let i in varTPL.listT) { %>
    <tr >
      <td class="first-tr"><%= varTPL.listT[i].shortHash %></td>
      <td><%= varTPL.listT[i].platform %></td>
      <td><%= varTPL.listT[i].type %></td>
      <td><%= varTPL.listT[i].status %></td>
    </tr>
  <% } %>
</table>