<% if(varTPL.messageType == "error") {%>
  <div class="error-block">
      <p class="error-title">
          <%= varTPL.messageTitle %>
      </p>

      <p class="error-text-message">
          <%= varTPL.messageText %>
      </p> 
  </div>
<% } %>

<% if(varTPL.messageType == "warning") {%>

<% } %>

<% if(varTPL.messageType == "") {%>
  <div class="block message-block">
      <p class="message-title">
          <%= varTPL.messageTitle %>
      </p>
      <p class="message-text">
          <%= varTPL.messageText %>
      </p> 
  </div>
<% } %>
  