<p class="main-discription">Прием Etherium платежей в вашем интернет-проекте</p>
<div class="group-h group-buttons">
    <a href="<%= varTPL.server + "/account/singUp"%>" ><button class="btn btn-dark btn-start">Внедрить</button></a>
</div>
