<span class="profile-title">Новая платформа</span>
<div class="sep"></div>

<form method="POST" class="pr-form">
  <label for="pl-title">Название</label>
  <input type="text"  class="input-field" name="title" id="pl-title">

  <label for="pl-discription">Описание</label>
  <textarea name="discription" id="pl-discription"></textarea>

  <label for="pl-types">Тип платформы</label>
  <select name="type" id="pl-types">
    
    <% for(let i in varTPL.typesOfPlatforms) { %>
      <option value="<%= varTPL.typesOfPlatforms[i] %>">
        <%- varTPL.typesOfPlatforms[i] %>
      </option>
    <% } %>
  
  </select>

  <input type="submit" class="btn btn-dark" value="Создать">

</form>

<%- include ../../elements/listOfErrors %>
