<span class="profile-title">Настройка макета</span>
<div class="sep"></div>

<div class="notification noti-info">
  <span>Укажите имя макета.</span>
  <span>Выбирите пункты которое должны отображатся на странице оплаты и настройте их значения</span>
</div>

<form method="POST">
  <div class="group-v filling-area">
    <label>Название</label>
    <input name="name" type="text"  class="input-field">
  </div>

  <div class="new-integration">
    <div class="pay-content">
      <p class="pay-title">
        <input name="flagTitle" id="checkBox" type="checkbox" onclick="selectItem('pay-title')">
        <input name="title" type="text"  class="input-field" id="pay-title" placeholder="Введите заголовок" disabled>
      </p>
      <div class="block" >

        <div class="group-h select-block">
          <input name="flagPlatform" id="checkBox" type="checkbox" onclick="selectItem('pay-platform')" >
          <div class="group-v filling-area">
            <label>Платформа</label>
            <input type="text"  class="input-field" id="pay-platform" placeholder="ПЛАТФОРМА" readonly disabled>
          </div>
        </div>

        <div class="group-h select-block">
          <input name="flagAddress" id="checkBox" type="checkbox" onclick="selectItem('pay-address')" >
          <div class="group-v filling-area">
            <label>Адрес перечисления</label>
            <input type="text"  class="input-field" id="pay-address" placeholder="Address" readonly disabled>
          </div>
        </div>

        <div class="group-h select-block">
          <input name="flagDiscription" id="checkBox" type="checkbox" onclick="selectItem('pay-discription')">
          <div class="group-v filling-area">
            <label>Описание</label>
            <input name="discription" type="text"  class="input-field" id="pay-discription" placeholder="Введите описание" disabled>
          </div>
        </div>

        <div class="group-h select-block">
          <div class="group-v filling-area offsetOnCheckBox">
          <div class="group-v payment-options">
            <label>Вариант оплаты</label>
            <select name="options" id="payment-options" onchange="selectItem('payment-options')">
                <option value="fix">Фиксированная сумма</option>
                <option value="options">Несколько вариантов</option>
                <option value="custom">Пользовательское значение</option>
            </select>

            
            </div>
              <label>Сумма:</label>

              <input name="fix" type="text"  class="input-field" id="fix" placeholder="Введите сумму в Wei">

              <input name="custom" type="text"  class="input-field" id="custom" placeholder="Пользовательское значение" readonly disabled style="display: none;">
              
              <div class="group-v filling-area " id="options" style="display: none;">
                <input name="numOpts" type="hidden" id="numOpts" readonly value="2">
                <dev class="group-h btns-block">
                  <button class="btn btn-dark btn-verysmall" type="button" onclick="changeOptions('+')">+</button>
                  <button class="btn btn-dark btn-verysmall" type="button" onclick="changeOptions('-')">-</button>
                </dev>
                <div class="group-v filling-area" id="option-fills-area">
                  <input class="input-field input-field-opt" id="opt1" name="opt1" placeholder="1 значение в Wei" >
                  <input class="input-field input-field-opt" id="opt2" name="opt2" placeholder="2 значение в Wei" >
                </div>
              </div>
            
          </div>
        </div>

        <label for="private-key">Закрытый ключ кошелька</label>
        <input type="text"  class="input-field" id="private-key" disabled>
        <button class="btn btn-disable-dark" type="button" disabled>Перевести</button>
      </div>
    </div>
  </div>

  <div class="group-v filling-area">
    <input type="submit" class="btn btn-dark" value="Создать">
  </div>
</form>

<%- include ../../elements/listOfErrors %>
