<span class="profile-title"><%- varTPL.platformTitle %></span>
<div class="sep"></div>

<% if (varTPL.platformWallet == "NULL") {%>
  <div class="notification noti-warning">
    <p>Внимание!</p>
    <span>Не  задан адрес Ethereum кошелька. Установить его можно <a href=" <%= varTPL.server + "/setWallet?platform=" +  varTPL.platformId %>" >тут</a>.</span>
  </div>
<% } %>

<div class="group-h platform-blocks">

  <div class="block wallet">
    <div class="caption">
      <span>Счет</span>
    </div>
    
    <div class="group-h field">
      <span class="fieldTitle">Адрес: </span>
      <span class="values"><%- varTPL.platformWallet %></span>
    </div>

    <div class="group-h field">
      <span class="fieldTitle">Баланс: </span>
      <span class="values"><%- varTPL.platformBalance %> <%- varTPL.platformUnit %></span>
    </div>

  </div>


  <div class="block control-panel">  
    <div class="caption">
      <span>Панель управления</span>
    </div>
    <ul>
      <a href="#"><li>Изменить описание</li></a>
      <a href="<%= varTPL.server + "/setWallet?platform=" +  varTPL.platformId %>"><li>Изменить счет</li></a>
      <a href="#"><li>Удалить платформу</li></a>
    </ul>
  </div>
</div>



<div class="integration">

  <div class="group-h types-integrations">
    <span >Статические интеграции</span>
    <% if (varTPL.platformWallet != "NULL") {%>
      <a href="<%= varTPL.server + '/newStaticIntegration?platform=' + varTPL.platformId %>">
        <button class="btn btn-dark btn-integration">Добавить</button>
      </a>
    <% } %>
  </div>
  <div class="title-sep"></div>

  <div class="group-v list">

    <% for (let i in varTPL.listStaticIntegrations) { %>
      <% if(i != 0) {%>
        <div class="sep"></div>
      <% } %>

      <div class="group-h list-item">
        <a href="<%= varTPL.server + '/staticIntegration?id=' + varTPL.listStaticIntegrations[i][0]%>" >
          <span><%= varTPL.listStaticIntegrations[i][1] %></span>
        </a>
        <div class"group-h btns">
          <button class="btn btn-light btn-integration">Редактировать</button>
          <button class="btn btn-light btn-integration">Удалить</button>
      </div>
    </div>
    <% } %>

  </div>

  <div class="group-h types-integrations">
    <span>Динамические интеграции</span>
    <% if (varTPL.platformWallet != "NULL") {%>
      <a href="<%= varTPL.server + '/newintegration?platform=' + varTPL.platformId %>">
        <button class="btn btn-dark btn-integration">Добавить</button>
      </a>
    <% } %>
  </div>
  <div class="title-sep"></div>

  <div class="group-v list">
    <div class="no-items">
      <span>интеграций нет</span>
    </div>
  </div>
</div>

