<span class="profile-title">Изменение адреса кошелька у <%= varTPL.platformTitle %></span>
<div class="sep"></div>

 <div class="notification noti-info">
    <span>Нет кошелька? Создай  <a href=<%= varTPL.server + "/createWallet?platform=" + varTPL.platformId %>>тут</a>.</span>
</div>

 <form class="setWallet" method="POST">
    <label for="wallet">Адрес кошелька</label>
    <input type="text" class="input-field" name="address" id="wallet" placeholder="0x0000000000000000000000000000000000000000">
    <input class="btn btn-dark" type="submit" value="Сохранить">
</form>

<%- include ../../elements/listOfErrors %>