<span class="profile-title">Статическая интеграция</span>
<div class="sep"></div>

<div class="group-v">
  <div class="group-v ">
    <label>Прямая ссылка</label>
    <input type="text"  class="input-field" value="<%= varTPL.link %>" readonly>
  </div>

  <div class="group-v ">
    <label>Код интеграции</label>
    <textarea readonly><iframe src="<%= varTPL.framePayLink %>" width="100%" height="100%"></iframe></textarea>
  </div>

</div>