.framePay {

}

.framePay .header{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 15px;
}

.framePay .frame{

}

.framePay .title {

  font-size: 1.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
