@import './epay-style/fonts';
@import './epay-style/buttons';
@import './epay-style/group';
@import './epay-style/input';
@import './epay-style/textarea';
@import './epay-style/select';
@import './epay-style/notifications';
@import './epay-style/checkbox';


body{
    display: flex;
    flex-flow: column nowrap;
    max-width: 100vw;
    min-height:100vh;
    margin: 0px;
    padding: 0px;
    font-family: Ubuntu-Regular;
    background-color: #f7f7f7;
}

.top{
    display: flex;
    flex-flow: row wrap;
    margin: 10px 50px 10px 50px;
}

.logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0px;
    margin: 0px;

}
/*
.content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;   
    padding: 0px 50px 0px 50px;
}
*/

.content{
    display: flex;
    flex-flow: column nowrap;
//    justify-content: center;
    align-items: center;
    flex-grow: 1;   
    padding: 0px 50px 0px 50px;
}

.content-top{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;   
    justify-content: flex-end;
}

.battom{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 10px 50px 10px 50px;
}

.copyright{
    font-size: 0.8em;
    color: #686a6d;
}

.btn-auth{
    font-size: 0.75em;
}

.block{
    border: solid 1px;
    display: flex;
    flex-flow: column nowrap;
    padding: 15px 25px 15px 25px;
    border-color: #e2e4e9;
//    border-color: #c7cbd4;
    //box-shadow: 0px 0px 20px #afafaf;
    background-color: #ffffff;
    //border-radius: 3px;
    border-radius: 2px;
    
}

.logo-title{
    font-size: 3em;
    margin: 0px;
    color: #3d3e40;
    padding: 10px;
    font-family: Amatic_SC-bold;

}