<div class="block message-block">
  <p class="message-title">
    Активация
  </p>

  <% if (varTPL.errors.error == false) {%>
    <p class="message-text">
      Ваш профиль активирован. <a  href="<%= varTPL.server + "/account/singIn"%>" class="auth-reg-link">Авторизоваться</a>.
    </p> 
  <% } else { %>
    <p class="message-text">
      Активация не удалась
    </p> 
  <% } %>
</div>

<%- include ../../elements/listOfErrors %>
