<% if (varTPL.subPage == "singIn") { %>
  <%- include ./singIn %>
<% } %>

<% if (varTPL.subPage == "singUp") { %>
  <%- include ./singUp %>
<% } %>

<% if (varTPL.subPage == "activate") { %>
  <%- include ./activate %>
<% } %>