<div class="reg-content">
    <p class="reg-title">Регистрация</p>

    <form class="block" method="POST">
        <div class="group-v-nowarp">
            <label for="username">Имя пользователя</label>
            <input type="text" class="input-field" name="username" id="username">
        </div>
        <div class="group-v-nowarp">
            <label for="email">Электронная почта</label>
            <input type="text" class="input-field" name="email" id="email">
        </div>
        <div class="group-v-nowarp">
            <label for="password">Пароль</label>
            <input type="password" class="input-field" name="password" id="password">
        </div>

        <input type="submit" class="btn btn-dark" value="Зарегистрироваться">
    </form>

    <%- include ../../elements/listOfErrors %>


</div>