<div class="auth-content">
    <p class="auth-title">Авторизация</p>

    <form class="block" method="POST">
        <div class="group-v-nowarp">
            <label for="email">Почта</label>
            <input class="input-field" type="text" name="email" id="email">
        </div>

        <div class="group-v-nowarp">
            <label for="password">Пароль</label>
            <input class="input-field" type="password" name="password" id="password">
        </div>

        <input class="btn btn-dark" type="submit" value="Войти" >
    </form>

    <div class="block auth-reg-block">
		<p class="auth-p">
			Нет аккаунта?
			<a href="<%= varTPL.server + "/account/singUp"%>" class="auth-reg-link">Зарегистрироваться</a>.
		</p>
    </div>

    <%- include ../../elements/listOfErrors %>
</div>