<span class="profile-title">Покупка Premium</span>
<div class="sep"></div>

<div class="notification noti-info">
    <span>Преимущества Premium аккаунта:</span>
    <ul>
      <li>Создание неограниченного количества платформ</li>
      <li>Генерация неограниченого количества статических страниц оплаты</li>
      <li>Возможность создавать динамические страницы оплаты</li>
    </ul>
</div>

<div class="premium group-v-nowarp">
  <form method="POST">
    <div class="paragraph-title">
      <span>Период:</span>
    </div>
    
    <div class="group-v-nowarp paragraph-content">
      <% for (let i in varTPL.listPeriods) { %>
        <span>
          <input name="period" type="radio" value="<%= varTPL.listPeriods[i][3] %>"
          <% if(i == 0) { %> checked <% } %> >
          <%= varTPL.listPeriods[i][0] %> - <%= varTPL.listPeriods[i][1] %> <%= varTPL.listPeriods[i][2] %>
        </span>
      <% } %>
    </div>

    <div class="paragraph-title">
        <label for="privateKey">Приватный ключ кошелька оплаты:</label>
    </div>
    <div class="group-v-nowarp paragraph-content">
      <input type="text"  class="input-field" name="privateKey" id="privateKey">
    </div>

    <div class="group-v-nowarp paragraph-content">
      <input type="submit" value="приобрести" class="btn btn-dark">
    </div>
  </form>

</div>


<%- include ../../elements/listOfErrors %>
