<div class="pay-content">

    <% if(varTPL.settings.title == 1) { %> 
      <p class="pay-title">
        <%= varTPL.paymentsTitle %>
      </p>   
    <% } %>
  
    <div class="block">
      <% if(varTPL.settings.title == 'completed') { %>
        <div class="notification noti-info">
          <span>Оплата произведена. Транзакция подтвердится черезе некоторое время!</span>
        </div>
      <% } else { %>
          <%- include ../../elements/formOfPayment %>
          <%- include ../../elements/listOfErrors %>
      <% } %>

    </div>

    

</div>