.auth-content{
    width: 340px;
}

.auth-reg-block{
    margin-top: 15px;
    text-align: center;
    font-size: 0.9em;
}

.auth-reg-link{
    
    text-decoration: none;
    color: #5e86c3;
}

.auth-p{
    margin: 0px;
    padding: 0px;
}

.auth-reg-link:visited{
    color: #5e86c3;
}

.auth-title{
    font-size: 2em;
    color: #3d3e40;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px;
}