.errors-block{
    display: flex;
    flex-flow: row wrap;
    background-color: #ffdddd;
    color: #ff4545;
    border-color: #fe6f6f;
    margin-top: 10px;
}

.errors-block ul{
    padding: 0px  20px  0px 20px ;
    margin: 0px;
}

.errors-block li{
    list-style-type: disc;
    padding: 0px;
}