.error-block{
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    border: solid  1px;
    border-radius: 3px;
    border-color: #f7736f;
    padding: 10px 20px 10px 20px ;
    color: #f7736f;
    justify-content: center;
    align-content: center;
}

.error-title{
    padding: 0px 0px 10px 0px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
}

.error-text-message{
    margin: 0px;
    padding: 0px;
    
}