.message-block{
    width: 300px;
}

.message-title{
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 1.5em;
}

.message-text{
    padding: 15px 0px 0px 0px;
    margin: 0px;
}