@media screen and (max-width: 799px) {
    .pay-content{
    
    }
}

@media screen and (min-width: 800px) {

    .pay-content{
        width: 600px;
    }
}

.pay-title{
    font-size: 2em;
    color: #3d3e40;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px;
}
