.reg-title{
    font-size: 2em;
    color: #3d3e40;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px;
}

.reg-content{
    display: flex;
    flex-flow: column wrap;
    width: 300px;
}

.reg-steps{
    display: flex;
    justify-content: space-around;    
    border: solid  1px;
    border-radius: 3px;
    border-color: #3d3e40;
    margin-bottom: 10px;
}

.reg-step{
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.reg-step-first{
    border: 1px;
    border-style: none solid none none;
}

.reg-step-state{
    background-color: #3d3e40;
    color: #ffffff;
}

#reg-step1{
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-flow: column nowrap;
}

#reg-step2{
    display: none;
    padding: 0px;
    margin: 0px;
    flex-flow: column nowrap;
}

.reg-error-block{
    background-color: #ffdddd;
    color: #ff4545;
    border-color: #fe6f6f;
    margin-top: 10px;
}

.list-errors li{
    list-style-type: disc;
    padding: 0px;
}

.list-errors{
    padding: 0px  20px  0px 20px ;
    margin: 0px;
}

#reg-block-error{
    display: none;
}

#reg-block{
    display: none;
}

