.transactions {
  border-spacing: 0px;
}

.transactions td{
  font-size: 0.85em;
  border-left: solid 1px;
  border-bottom: solid 1px;
  border-color: #e2e4e9;
  padding: 5px 5px 5px 5px;
  
}

.transactions tr{
  padding: 10px 0 0 0;
}

.transactions .first-tr{
  border-left: none 0px;
}


.transactions .title{
  font-size: 0.8em;
  text-align: center;
  border-bottom: solid 1px;
  text-transform: uppercase;
  padding: 5px 0px 5px 0px;
  border-color: #e2e4e9;
}