.integration {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.integration .types-integrations{ 
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.integration .btn-integration{  
  padding: 3px 4px 3px 4px;
  font-size: 0.7em;
  margin: 5px;
}

.integration .title-sep {
  border-top: 1px solid #e7e8ec;
  margin: 0px 10px; 
}

.integration .list-item {
  margin: 0px 10px 0px 10px;
  justify-content: space-between;
  align-items: center;
}

.list .btns {
  background-color: red;
}

.list .sep {
  border-top: 1px dashed #e7e8ec;
  margin: 0px 10px; 
}

.list .no-items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  font-size: 0.8em;
  padding: 5px 0px 5px 0px;
  color: #a7a8ac;
}

.list a{
  color: #3d3e40;
  text-decoration: none;
  border-bottom: 1px dashed #3d3e40;
}

.list a:visited{
  color: #3d3e40;
  text-decoration: none;
  border-bottom: 1px dashed #3d3e40;
}