.new-integration {
  padding: 0px 0px 10px 0px;
  margin: 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: dashed 1px;
  border-color: #c2c4c9;
}

.new-integration .filling-area {
  flex-grow: 1;
}

.new-integration .select-block {
  align-items: center;
}

.new-integration .offsetOnCheckBox {
  padding: 0px 0px 0px 20px;
}

.new-integration .payment-options {
  border: dashed 1px;
  border-color: #c2c4c9;
  border-radius: 2px;
  flex-grow: 1;
  margin-bottom: 10px;
}

.new-integration .btns-block {
  justify-content:  flex-end;
  padding: 0px 20px 5px 0px;
  
}

.new-integration .btn-verysmall {
  width: 20px;
  height: 20px;
  margin: 0px 5px 0px 5px;
  padding: 0px;
  font-size: 0.8em;
}

.new-integration .input-field-opt{
  margin-top: 0px;
  margin-bottom: 5px;
}