.platform-titleOperations {
  font-size: 1.1em;
  padding: 0 0 0 10px;
}

.platform-blocks {
  justify-content: space-between;
  align-items: flex-start;
}

.platform-blocks .wallet {
  background-color: #fcfcfc;
  padding: 0 20px 8px 20px;
  margin: 0 10px 0 0;
  width: 420px;
}

.wallet .caption {
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 0 0 0 0;
  margin: 10px 0 0px 0;
  display: flex;
  flex-flow: column nowrap;
}

.wallet .field{
  align-items: center;
}

.wallet .fieldTitle{
  font-size: 0.85em;
  padding: 5px 10px 5px 0px;
}

.wallet .values{
  font-size: 0.85em;
  padding: 5px 0px 5px 0px;
}

.platform-blocks .control-panel{
  background-color: #fcfcfc;
  margin: 0px;
  width: 250px;
  padding: 0 0 0 0;
}

.control-panel .caption {
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 0 0 0 0;
  margin: 10px 0 5px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.control-panel ul{
  padding: 0px;
  margin: 0px;
}

.control-panel li{
  list-style-type: none;
  padding: 8px 30px 8px 30px;
  font-size: 0.85em;
  color: #3d3e40;
  cursor: pointer;
  transition: .05s linear;
}

.control-panel li:hover{
  background-color: #f5f5f5;
}

.control-panel li:active{
  background-color: #f3f3f3;
}

.control-panel a{
  color: #3d3e40;
  text-decoration: none;   
}

.control-panel a:visited{
  color: #3d3e40;
  text-decoration: none; 
}