@import './sidebar';
@import './addPlatform';
@import './platform';
@import './wallet';

.account-main-block{
    width: 600px;
}

.profile-page{
    width: 960px;
    display: flex;
    align-items: stretch;
}


.profile-content{
    display: flex;
    flex-flow: column nowrap;
    width: 780px;
    margin: 0px;
}

.profile-title{
    font-size: 1.3em;
    padding: 0 0 0 10px;
}



