.pr-sidebar{
    margin: 0 5px 0 0;
    width: 175px;
}

.pr-sidebar .side-block{
    background-color: #fcfcfc;
    margin: 0;
    border: solid 1px;
    border-color: #e2e4e9;
    border-radius: 2px;
}

.side-block .caption{
    border-left: solid 3px;
    border-color: #5e86c3;
    padding: 8px 20px 8px 20px;
    text-transform: uppercase;
    color: #3d3e40;
}

.side-block .caption-profile{
    border-bottom: solid 1px;
    border-color: #e2e4e9;
    padding: 8px 20px 8px 20px;

    color: #3d3e40;
}

.side-block .add{
    padding: 8px 20px 8px 20px;
    font-size: 0.75em;
    color: #3d3e40;
    cursor: pointer;
    transition: .05s linear;
}

.side-block .add:hover{
    background-color: #f5f5f5;
}

.side-block .add:active{
    background-color: #f3f3f3;
}

.side-block ul{
    padding: 0px;
    margin: 0px;
}

.side-block li{
    list-style-type: none;
    padding: 8px 20px 8px 20px;
    font-size: 0.85em;
    color: #3d3e40;
    cursor: pointer;
    transition: .05s linear;
}

.side-block li:hover{
    background-color: #f5f5f5;
}

.side-block li:active{
    background-color: #f3f3f3;
}

.side-block a{
    color: #3d3e40;
    text-decoration: none;   
}

.side-block a:visited{
    color: #3d3e40;
    text-decoration: none; 
}

.side-block .a-premium{
    color: #5e86c3;
    text-decoration: none; 
}

.sep{
    border-top: 1px solid #e7e8ec;
    margin: 6px 10px; 
}