.main-discription {
  font-size: 2em;
  color: #3d3e40; }

.main-btn-start {
  font-size: 1em; }

@media screen and (min-width: 800px) {
  .pay-content {
    width: 600px; } }

.pay-title {
  font-size: 2em;
  color: #3d3e40;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0px; }

.reg-title {
  font-size: 2em;
  color: #3d3e40;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0px; }

.reg-content {
  display: flex;
  flex-flow: column wrap;
  width: 300px; }

.reg-steps {
  display: flex;
  justify-content: space-around;
  border: solid  1px;
  border-radius: 3px;
  border-color: #3d3e40;
  margin-bottom: 10px; }

.reg-step {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px; }

.reg-step-first {
  border: 1px;
  border-style: none solid none none; }

.reg-step-state {
  background-color: #3d3e40;
  color: #ffffff; }

#reg-step1 {
  display: flex;
  padding: 0px;
  margin: 0px;
  flex-flow: column nowrap; }

#reg-step2 {
  display: none;
  padding: 0px;
  margin: 0px;
  flex-flow: column nowrap; }

.reg-error-block {
  background-color: #ffdddd;
  color: #ff4545;
  border-color: #fe6f6f;
  margin-top: 10px; }

.list-errors li {
  list-style-type: disc;
  padding: 0px; }

.list-errors {
  padding: 0px  20px  0px 20px;
  margin: 0px; }

#reg-block-error {
  display: none; }

#reg-block {
  display: none; }

.auth-content {
  width: 340px; }

.auth-reg-block {
  margin-top: 15px;
  text-align: center;
  font-size: 0.9em; }

.auth-reg-link {
  text-decoration: none;
  color: #5e86c3; }

.auth-p {
  margin: 0px;
  padding: 0px; }

.auth-reg-link:visited {
  color: #5e86c3; }

.auth-title {
  font-size: 2em;
  color: #3d3e40;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0px; }

.pr-sidebar {
  margin: 0 5px 0 0;
  width: 175px; }

.pr-sidebar .side-block {
  background-color: #fcfcfc;
  margin: 0;
  border: solid 1px;
  border-color: #e2e4e9;
  border-radius: 2px; }

.side-block .caption {
  border-left: solid 3px;
  border-color: #5e86c3;
  padding: 8px 20px 8px 20px;
  text-transform: uppercase;
  color: #3d3e40; }

.side-block .caption-profile {
  border-bottom: solid 1px;
  border-color: #e2e4e9;
  padding: 8px 20px 8px 20px;
  color: #3d3e40; }

.side-block .add {
  padding: 8px 20px 8px 20px;
  font-size: 0.75em;
  color: #3d3e40;
  cursor: pointer;
  transition: .05s linear; }

.side-block .add:hover {
  background-color: #f5f5f5; }

.side-block .add:active {
  background-color: #f3f3f3; }

.side-block ul {
  padding: 0px;
  margin: 0px; }

.side-block li {
  list-style-type: none;
  padding: 8px 20px 8px 20px;
  font-size: 0.85em;
  color: #3d3e40;
  cursor: pointer;
  transition: .05s linear; }

.side-block li:hover {
  background-color: #f5f5f5; }

.side-block li:active {
  background-color: #f3f3f3; }

.side-block a {
  color: #3d3e40;
  text-decoration: none; }

.side-block a:visited {
  color: #3d3e40;
  text-decoration: none; }

.side-block .a-premium {
  color: #5e86c3;
  text-decoration: none; }

.sep {
  border-top: 1px solid #e7e8ec;
  margin: 6px 10px; }

.pr-form {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1; }

.platform-titleOperations {
  font-size: 1.1em;
  padding: 0 0 0 10px; }

.platform-blocks {
  justify-content: space-between;
  align-items: flex-start; }

.platform-blocks .wallet {
  background-color: #fcfcfc;
  padding: 0 20px 8px 20px;
  margin: 0 10px 0 0;
  width: 420px; }

.wallet .caption {
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 0 0 0 0;
  margin: 10px 0 0px 0;
  display: flex;
  flex-flow: column nowrap; }

.wallet .field {
  align-items: center; }

.wallet .fieldTitle {
  font-size: 0.85em;
  padding: 5px 10px 5px 0px; }

.wallet .values {
  font-size: 0.85em;
  padding: 5px 0px 5px 0px; }

.platform-blocks .control-panel {
  background-color: #fcfcfc;
  margin: 0px;
  width: 250px;
  padding: 0 0 0 0; }

.control-panel .caption {
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 0 0 0 0;
  margin: 10px 0 5px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }

.control-panel ul {
  padding: 0px;
  margin: 0px; }

.control-panel li {
  list-style-type: none;
  padding: 8px 30px 8px 30px;
  font-size: 0.85em;
  color: #3d3e40;
  cursor: pointer;
  transition: .05s linear; }

.control-panel li:hover {
  background-color: #f5f5f5; }

.control-panel li:active {
  background-color: #f3f3f3; }

.control-panel a {
  color: #3d3e40;
  text-decoration: none; }

.control-panel a:visited {
  color: #3d3e40;
  text-decoration: none; }

.setWallet {
  display: flex;
  flex-flow: column nowrap; }

.createWallet-hidenTextra {
  display: none; }

.createWallet-downloadLink {
  display: flex; }

.account-main-block {
  width: 600px; }

.profile-page {
  width: 960px;
  display: flex;
  align-items: stretch; }

.profile-content {
  display: flex;
  flex-flow: column nowrap;
  width: 780px;
  margin: 0px; }

.profile-title {
  font-size: 1.3em;
  padding: 0 0 0 10px; }

.error-block {
  display: flex;
  flex-flow: column wrap;
  width: 300px;
  border: solid  1px;
  border-radius: 3px;
  border-color: #f7736f;
  padding: 10px 20px 10px 20px;
  color: #f7736f;
  justify-content: center;
  align-content: center; }

.error-title {
  padding: 0px 0px 10px 0px;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em; }

.error-text-message {
  margin: 0px;
  padding: 0px; }

.message-block {
  width: 300px; }

.message-title {
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 1.5em; }

.message-text {
  padding: 15px 0px 0px 0px;
  margin: 0px; }

.errors-block {
  display: flex;
  flex-flow: row wrap;
  background-color: #ffdddd;
  color: #ff4545;
  border-color: #fe6f6f;
  margin-top: 10px; }

.errors-block ul {
  padding: 0px  20px  0px 20px;
  margin: 0px; }

.errors-block li {
  list-style-type: disc;
  padding: 0px; }

.transactions {
  border-spacing: 0px; }

.transactions td {
  font-size: 0.85em;
  border-left: solid 1px;
  border-bottom: solid 1px;
  border-color: #e2e4e9;
  padding: 5px 5px 5px 5px; }

.transactions tr {
  padding: 10px 0 0 0; }

.transactions .first-tr {
  border-left: none 0px; }

.transactions .title {
  font-size: 0.8em;
  text-align: center;
  border-bottom: solid 1px;
  text-transform: uppercase;
  padding: 5px 0px 5px 0px;
  border-color: #e2e4e9; }

.premium .paragraph-title {
  padding: 10px 0px 5px 0px;
  font-size: 1.1em; }

.premium .paragraph-content {
  padding: 0px 0px 10px 10px; }

.framePay .header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 15px; }

.framePay .title {
  font-size: 1.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.integration {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px; }

.integration .types-integrations {
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px; }

.integration .btn-integration {
  padding: 3px 4px 3px 4px;
  font-size: 0.7em;
  margin: 5px; }

.integration .title-sep {
  border-top: 1px solid #e7e8ec;
  margin: 0px 10px; }

.integration .list-item {
  margin: 0px 10px 0px 10px;
  justify-content: space-between;
  align-items: center; }

.list .btns {
  background-color: red; }

.list .sep {
  border-top: 1px dashed #e7e8ec;
  margin: 0px 10px; }

.list .no-items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  font-size: 0.8em;
  padding: 5px 0px 5px 0px;
  color: #a7a8ac; }

.list a {
  color: #3d3e40;
  text-decoration: none;
  border-bottom: 1px dashed #3d3e40; }

.list a:visited {
  color: #3d3e40;
  text-decoration: none;
  border-bottom: 1px dashed #3d3e40; }

.new-integration {
  padding: 0px 0px 10px 0px;
  margin: 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: dashed 1px;
  border-color: #c2c4c9; }

.new-integration .filling-area {
  flex-grow: 1; }

.new-integration .select-block {
  align-items: center; }

.new-integration .offsetOnCheckBox {
  padding: 0px 0px 0px 20px; }

.new-integration .payment-options {
  border: dashed 1px;
  border-color: #c2c4c9;
  border-radius: 2px;
  flex-grow: 1;
  margin-bottom: 10px; }

.new-integration .btns-block {
  justify-content: flex-end;
  padding: 0px 20px 5px 0px; }

.new-integration .btn-verysmall {
  width: 20px;
  height: 20px;
  margin: 0px 5px 0px 5px;
  padding: 0px;
  font-size: 0.8em; }

.new-integration .input-field-opt {
  margin-top: 0px;
  margin-bottom: 5px; }
