@charset "UTF-8";
@font-face {
  font-family: 'Ubuntu-Regular';
  src: local("Ubuntu-Regular"), local("Ubuntu-Regular"), url("/../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Amatic_SC-bold';
  src: local("Amatic_SC-bold"), local("Amatic_SC-bold"), url("/../fonts/Amatic_SC/AmaticSC-Bold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

.btn {
  border: solid 0.1em;
  transition: .3s linear;
  outline: none;
  padding: 10px 30px 10px 30px;
  margin: 10px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px; }

.btn-dark {
  color: #ffffff;
  background-color: #3d3e40;
  border-color: #3d3e40; }

.btn-dark:hover {
  background-color: #5e5f62;
  border-color: #5e5f62; }

.btn-dark:active {
  background-color: #4e4f51;
  border-color: #4e4f51; }

.btn-light {
  color: #3d3e40;
  background-color: #f7f7f7;
  border-color: #3d3e40; }

.btn-light:hover {
  background-color: #f0f0f0; }

.btn-light:active {
  background-color: #e9e9e9; }

.btn-disable-dark {
  color: #ffffff;
  background-color: #6d6e70;
  border-color: #6d6e70;
  cursor: default; }

.btn-small {
  padding: 5px 15px 5px 15px; }

.group, .group-v, .group-v-nowarp, .group-h, .group-h-nowarp {
  margin: 0px;
  padding: 0px;
  display: flex; }

.group-v, .group-v-nowarp {
  flex-direction: column;
  flex-wrap: wrap; }

.group-v-nowarp {
  flex-wrap: nowrap; }

.group-h, .group-h-nowarp {
  flex-direction: row;
  flex-wrap: wrap; }

.group-h-nowarp {
  flex-wrap: nowrap; }

.input-field, .input-field-error, .pseudoinput-notactive {
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: #c2c4c9;
  padding: 5px 15px 5px 15px;
  margin: 10px;
  font-size: 1em;
  border-radius: 2px; }

.input-field-error {
  border-color: #fe6f6f; }

.pseudoinput-notactive {
  background-color: #f3f3f3;
  border-color: #636568;
  color: #636568;
  text-overflow: ellipsis;
  overflow: hidden; }

.pseudoinput {
  border-style: solid;
  border-width: 1px;
  border-color: #c2c4c9;
  padding: 5px 15px 5px 15px;
  margin: 10px;
  font-size: 1em;
  border-radius: 2px; }

textarea {
  padding: 5px 15px 5px 15px;
  margin: 10px;
  height: 100px;
  border-radius: 2px;
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: #c2c4c9;
  font-size: 1.1em; }

select {
  padding: 5px 15px 5px 15px;
  margin: 10px;
  outline: none;
  font-size: 0.8em;
  border-style: solid;
  border-width: 1px;
  border-color: #c2c4c9;
  border-radius: 2px;
  background-color: #ffffff; }

.notification {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 2px;
  padding: 10px 20px 10px 20px;
  margin: 0 0 10px 0; }

.notification p {
  padding: 0px;
  margin: 0 0 10px 10px;
  font-size: 1.3em; }

.noti-danger {
  background-color: #ffdddd;
  border: solid 1px;
  border-color: #fe6f6f;
  color: #fe6f6f; }

.noti-danger a {
  color: #ff4545; }

.noti-warning {
  background-color: #fff3cd;
  border: solid 1px;
  border-color: #ddcc98;
  color: #bdac78; }

.noti-warning a {
  color: #9f9b63; }

.noti-info {
  background-color: #d1ecf1;
  border: solid 1px;
  border-color: #bee5eb;
  color: #7ea5ab; }

.noti-info a {
  color: #5e858b; }

/*https://webcareer.ru/stilizaciya-checkbox-i-radio-na-css.html*/
/* Скрываем реальный чекбокс */
.checkbox {
  display: none; }

/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
  position: relative;
  /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
  width: 20px;
  /* Обязательно задаем ширину */
  height: 20px;
  /* Обязательно задаем высоту */
  border: 2px solid #ccc;
  border-radius: 3px; }

/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.label {
  display: inline-block;
  vertical-align: middle; }

/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before {
  content: "";
  /* Добавляем наш псевдоэлемент */
  display: block;
  /* Делаем его блочным элементом */
  position: absolute;
  /* Позиционируем его абсолютным образом */
  /* Задаем расстояние от верхней, правой, нижней и левой границы */
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #413548;
  /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
  border-radius: 2px; }

body {
  display: flex;
  flex-flow: column nowrap;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: Ubuntu-Regular;
  background-color: #f7f7f7; }

.top {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 50px 10px 50px; }

.logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0px;
  margin: 0px; }

/*
.content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;   
    padding: 0px 50px 0px 50px;
}
*/
.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-grow: 1;
  padding: 0px 50px 0px 50px; }

.content-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end; }

.battom {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 10px 50px 10px 50px; }

.copyright {
  font-size: 0.8em;
  color: #686a6d; }

.btn-auth {
  font-size: 0.75em; }

.block {
  border: solid 1px;
  display: flex;
  flex-flow: column nowrap;
  padding: 15px 25px 15px 25px;
  border-color: #e2e4e9;
  background-color: #ffffff;
  border-radius: 2px; }

.logo-title {
  font-size: 3em;
  margin: 0px;
  color: #3d3e40;
  padding: 10px;
  font-family: Amatic_SC-bold; }
