.btn{
    border: solid 0.1em;
    transition: .3s linear;
    outline: none;
    padding: 10px 30px 10px 30px;
    margin: 10px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0);
//    border-radius: 3px;
    border-radius: 2px;
}

.btn-dark{
    color: #ffffff;
    background-color: #3d3e40;
    border-color: #3d3e40;
}

.btn-dark:hover{
    background-color: #5e5f62;
    border-color: #5e5f62;
}

.btn-dark:active{
    background-color: #4e4f51;
    border-color: #4e4f51;
}

.btn-light{
    color: #3d3e40;
    background-color: #f7f7f7;
    border-color: #3d3e40;
}

.btn-light:hover{
    background-color: #f0f0f0;
}

.btn-light:active{
    background-color: #e9e9e9;
}

.btn-disable-dark{
    color: #ffffff;
    background-color: #6d6e70;
    border-color: #6d6e70;
    cursor: default;
}

.btn-small {
    padding: 5px 15px 5px 15px;
}
