@font-face {
    font-family: 'Ubuntu-Regular';
	src: local('Ubuntu-Regular'), local('Ubuntu-Regular'), 
		url('/../fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Amatic_SC-bold';
	src: local('Amatic_SC-bold'), local('Amatic_SC-bold'), 
		url('/../fonts/Amatic_SC/AmaticSC-Bold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}