.group{
    margin: 0px;
    padding: 0px;
    display: flex;
}

.group-v{
    @extend .group;
    flex-direction: column;
    flex-wrap: wrap;
}

.group-v-nowarp{
    @extend .group-v;
    flex-wrap: nowrap;
}

.group-h{
    @extend .group;
    flex-direction: row;
    flex-wrap: wrap;  
}

.group-h-nowarp{
    @extend .group-h;
    flex-wrap: nowrap;
}