.input-field{
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-color: #c2c4c9;
    padding: 5px 15px 5px 15px;
    margin: 10px;
    font-size: 1em;
   // border-radius: 3px;
    border-radius: 2px;
}

.input-field-error{
    @extend .input-field;
    border-color: #fe6f6f;

}

.pseudoinput-notactive{
    @extend .input-field;
    background-color: #f3f3f3;
    border-color: #636568;
    color: #636568;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pseudoinput{
    border-style: solid;
    border-width: 1px;
    border-color: #c2c4c9;
    padding: 5px 15px 5px 15px;
    margin: 10px;
    font-size: 1em;
   // border-radius: 3px;
    border-radius: 2px;
}