@import './style';

.notification{
    display: flex;
    flex-flow: column nowrap;
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    margin: 0 0 10px 0;
}

.notification p{
    padding: 0px;
    margin: 0 0 10px 10px;
    font-size: 1.3em;
    
}

.noti-danger{
    background-color: $colorPink;
    border: solid 1px;
    border-color: $colorRed2;
    color: $colorRed2;
}

.noti-danger a{
    color: $colorRed1;
}

.noti-warning{
    background-color: $colorYellow1;
    border: solid 1px;
    border-color: $colorYellow2;
    color: $colorYellow3;
}

.noti-warning a{
    color: $colorYellow4;
}


.noti-info{
    background-color: $colorBlue1;
    border: solid 1px;
    border-color: $colorBlue2;
    color: $colorBlue3;
}

.noti-info  a{
    color: $colorBlue4;
}



