select{
    padding: 5px 15px 5px 15px;
    margin: 10px;
    outline: none;
    font-size: 0.8em;
    border-style: solid;
    border-width: 1px;
    border-color: #c2c4c9;
    border-radius: 2px;
    background-color: #ffffff;
}