$borderRadius: 2px;

$colorRed1: #ff4545;
$colorRed2: #fe6f6f;
$colorPink: #ffdddd;
$colorDark: #3d3e40;
$colorBlue1: #d1ecf1;
$colorBlue2: #bee5eb;
$colorBlue3: #7ea5ab;
$colorBlue4: #5e858b;
$colorYellow1: #fff3cd;
$colorYellow2: #ddcc98;
$colorYellow3: #bdac78;
$colorYellow4: #9f9b63;