textarea{
    padding: 5px 15px 5px 15px;
    margin: 10px;
    height: 100px;
    border-radius: 2px;
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-color: #c2c4c9;
    font-size: 1.1em;
}