<span class="profile-title">Новый кошелек</span>
<div class="sep"></div>

<% if(varTPL.subPage == 'created') { %>

  <% if(varTPL.setedAddressOnPlatform == false) { %>
    <div class="notification noti-danger">
      <p>Адресс кошелька не устанавлен на платформу</p>
      <span>Не удалось подключить адресс кошелька к вашей платформе.</span>
      <span>Попробуйте установить его вручную.</span>
    </div>
  <% } %>

  <div class="notification noti-warning">
    <p>ВНИМАНИЕ</p>
    <span>При одновременной утере ключ-файла и секретного ключа, <br> востановить доступ к кошельку не возможно.</span>
    <span>Секретный ключ и ключ-файл не хранятся на сервере.</span>
  </div>
  
  <div class="notification noti-info">
    <span>Никому не сообщайте секретный ключ!</span>
    <span>Не делитесь паролем и ключ-файлом не с кем!</span>
    <span>Храните все в секрете!</span>
  </div>

    <div class="group-v">
      <lable>Адрес кошелька</lable>
      <input type="text" class="input-field" value="<%- varTPL.address %>" disabled>
      <lable>Секретный ключ</lable>
      <input type="text" class="input-field" value="<%- varTPL.privateKey %>" disabled>
      <textarea name="keystone" id="keystone" class="createWallet-hidenTextra"><%- varTPL.keyStone %></textarea>

      <div class="group-v-nowarp">
        <a href="#" download="keyStone.txt" id="downloadLink">
          <button class="btn btn-light" onclick="downloadKeyStone()" >Скачать ключ-файл</button>
        </a>
      </div>
    </div>

<% } else { %>
  
  <div class="notification noti-warning">
    <p>ВНИМАНИЕ</p>
    <span>При утере пароля, востановить его будет невозможно.</span>
    <span>Запомните или запишите его! И никому его не сообщайте!</span>
  </div>

  <form class="setWallet" method="POST">
    <label for="password">Пароль</label>
    <input type="password" class="input-field" name="password" id="password">
    <label for="repeatPassword">Повторите пароль</label>
    <input type="password" class="input-field" name="repeatPassword" id="repeatPassword">
    <% if( varTPL.setOnPlatform ){ %>
      <div class="group-h">
        <input name="setPlatform" id="checkBox" type="checkbox">
        <span class="radio-custom"></span>
        <label for="setPlatform">Установить кошелек для платформы</label>
      </div>
    <% } %>
      
    <input class="btn btn-dark" type="submit" value="Создать">
  </form>

  <%- include ../../elements/listOfErrors %>
<% } %>
